<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><div class="profile_picture"></div><div class="username"></div></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="banner"></div>
    </nav>
    <main>
        <div class="topbar">
           <input type="text">
           <div class="icon"></div>
        </div>
        <div class="secondbar">
            <div></div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="grid">
            <div class="container1"></div>
            <div class="container2"></div>
            <div class="container3"></div>
        </div>
    </main>
    <aside>
        <div class="up">
        <div class="button"></div><div class="link"></div>
        </div>
        <div class="list">
        <div class="title"></div>
        <ul>
            <li><div class="icon"></div><div class="feature"></div></li>
            <li><div class="icon"></div><div class="feature"></div></li>
            <li><div class="icon"></div><div class="feature"></div></li>
        </ul>
        </div>
        <div class="list">
        <div class="title"></div>
        <ul>
            <li><div class="icon"></div><div class="feature"></div></li>
            <li><div class="icon"></div><div class="feature"></div></li>
            <li><div class="icon"></div><div class="feature"></div></li>
        </ul>
        </div>
        <div class="banner2"></div>
    </aside>
         
</body>
</html>