*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
@function rem ($pixel){
    @return ($pixel/16)*1rem;

}
body{
    width: 100vw;
    height: 100vh;
    display:flex;
  
    nav{
        width: 20%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            list-style: none;
        
        li{

            width: rem(100);
            height: rem(10);
            background-color: rgb(205, 205, 205);
            height: rem(10);
            margin-bottom: rem(10);
            &:first-child{
                display: flex;
                background: none;
                height: rem(30);
                margin-top: rem(30);
                margin-bottom: rem(20);
                .profile_picture{
                    height: rem(30);
                    width: rem(30);
                    background-color: rgb(205, 205, 205);
                }
                .username{
                    height: rem(30);
                    width: calc(100% - rem(30) - rem(15));
                    margin-left: rem(15);
                    background-color: rgb(205, 205, 205);
                    
                }
            }
                       
        }

    }
    .banner{
        min-width: rem(100);
        width: 80%;
        height: rem(100);
        background-color: rgb(205, 205, 205);
        border-radius: rem(10);
        position: relative;
        bottom: -38%;
    }
    }
    main{
        width: 50%;
        
        background-color: rgb(231, 231, 231);
        .topbar{
            display: flex;
            justify-content: space-between;
            margin: rem(10);
            input{
                border: none;
                background-color: rgb(205, 203, 203);
                width: 50%;
                border-radius: rem(5);
            }
            .icon{
                width: rem(30);
                height: rem(30);
                background-color: rgb(205, 205, 205);
                border-radius: rem(5);
            }
        }
        .secondbar{
           display: flex;
           justify-content: space-between;
            div{
                height: rem(20);
                width: rem(70);
                background-color: rgb(205, 205, 205);
                border-radius: rem(5);
                margin: rem(10) 0 rem(10) rem(10);
            }
            ul{
                display: flex;
                list-style: none;
                li{
                margin: rem(10) rem(10) rem(10) 0;   
                height: rem(20);
                width: rem(60);
                background-color: rgb(205, 205, 205);
                border-radius: rem(5);
                }
            }
        }
        .grid{
            width: 100% ;
            height: calc(100% - rem(100));
            display: grid;
            grid-template-columns: 10px ,repeat(2 ,1fr),10px;
            grid-template-rows: 40% 40%;
            place-items: center;
            margin-top: rem(20);
            gap: 10px;
            grid-template-areas: 
            "box1 box1"
            "box2 box3";
            .container1{
                width: calc(90% + 10px);
                height: 100%;
                border-radius: rem(10);
                background-color: rgb(205, 205, 205);
                grid-area: box1;
            }
            .container2,.container3{
                width: 90%;
                border-radius: rem(10);
                height: 100%;
                
                background-color: rgb(205, 205, 205);
            }
            .container2{
                grid-area: box2;
            }
            .container3{
                grid-area: box3;
            }
        }
    }
    aside{
        width:30% ;
        background-color: white;
        .up{
            display: flex;
            width: 100%;
            height: rem(30);
            .button{
                width: rem(30);
                margin: rem(10);
                height: rem(30);
                border-radius: rem(15);
                border: none;
                background-color: rgb(205, 205, 205);
            }
            .link{
                width: calc(100% - rem(50));
                height: rem(30);
                background-color:rgb(205, 205, 205);
                margin-right: rem(10)  ;
                margin-top: rem(10)  ;
                border-radius: rem(5);
            }
        }
        .list{
            .title{
                width: 60%;
                max-width: rem(80);
                height: rem(20);
                background-color: rgb(205, 205, 205);
                margin-top: rem(30);
                margin-left: rem(5);
                border-radius: rem(5);
               }
            ul{
                list-style: none;
                li{
                    display: flex;
                    .icon{
                    height: rem(20);
                    min-width:rem(20);
                    max-width: rem(20);
                    width: rem(20);
                    background-color: rgb(205, 205, 205);
                    margin:rem(10);
                    border-radius: rem(5);
                    }
                    .feature{
                    height: rem(20);
                    width: 100%;
                    background-color: rgb(205, 205, 205);
                    margin:rem(10);
                    border-radius: rem(5);
                    }
                }            
            }
           }
           .banner2{
            height: rem(80);
            width: 80%;
            margin: rem(10);
            background-color: rgb(205, 205, 205);
            border-radius: rem(5);
        }
    }
}