@use "sass:color";
@use "sass:map";
$color-primary: color.adjust(red, $lightness: -5%);
$color-secondary: color.adjust(blue, $lightness: -5%);
$color-tertiary: color.adjust(green, $lightness: -5%);
@function rem($pixel){
    $remFontSize: 16;
    @return ($pixel/16)*1rem;
}
$size-font: 1rem;
$footer-font-size: rem(24);



@mixin article-card($color-font, $color-border, $size) {
  color: $color-font;
  border-color: $color-border;
  font-size: $size-font;
  text-align: center;
  padding: rem(5);
}
$map: fs-1rem, fs-2rem, fs-3rem;
@each $value in $map {
  .#{$value} {
    height: rem(45);
    width: rem(45);
  }
}
body{
  width: 100vw;
}
div {
  border: rem(1) solid $color-primary;
  display: flex;
  
  flex-direction: column;
  align-items: center;
 
  h1 {
    display: flex;
    text-decoration: underline;
    color: $color-tertiary;
    justify-content: center;
    margin:rem(10);
  }
  h2{
    @extend h1;
    padding: 1rem;
    border: rem(1) solid $color-primary;
    text-decoration: none;
    width: 50%;

  }
  section {
    &:nth-child(4){
      display: flex;
      justify-content: space-between;
      width: 95%;
      /* ciclo per altezza font */
      @for $index from 1 through 3 {
        .fs-#{$index}rem{
          font-size: #{$index}rem;
        }
      }
      /* ciclo per colore sfondo e colore testo  */
      @for $inde from 1 through 20 {
        div:nth-child(#{$inde}){
         background-color: darken($color: #ffffff, $amount: calc($inde*5%) );
         color: lighten($color: #000000, $amount: calc($inde*5%));
        }
         @if $inde == 10 {
          div:nth-child(10){
            background-color: $color-secondary;
            color: $color-primary;
          }
         }
        
      }
    }
    display: grid;
    margin: rem(10);
    grid-template-columns: repeat(4, 1fr);
    article {
      &:first-child {
        @include article-card($color-secondary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
      }
      &:nth-child(3) {
        @include article-card($color-secondary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
      }
      &:nth-child(2) {
        @include article-card($color-primary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
        border-left: none;
        border-right: none;
      }
      &:nth-child(4) {
        @include article-card($color-primary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
        border-left: none;
      }
    }
    &:last-child {
      border: rem(1) solid $color-secondary;
      margin: rem(10);
      padding: rem(10);
      display: flex;
      
      article {
        font-size: rem(24);
        border: none;
        text-align: center;
      }
    }
  }
}
