@use "sass:color";
@use "sass:map";
$color-primary: color.adjust(red, $lightness: -5%);
$color-secondary: color.adjust(blue, $lightness: -5%);
$color-tertiary: color.adjust(green, $lightness: -5%);
$map: fs-1rem, fs-2rem, fs-3rem;
@each $value in $map{
   .#{$value}{
    height: rem(45) ;
    width: rem(45) ;
   }
}
@function rem($pixel){
  @return ($pixel/16)*1rem;
}
$size-font: 1rem;
$footer-font-size: rem(24);

@mixin article-card($color-font, $color-border, $size) {
  color: $color-font;
  border-color: $color-border;
  font-size: $size-font;
  text-align: center;
  padding: rem(5);
}
div {
  border: rem(1) solid $color-primary;
  h1 {
    display: flex;
    text-decoration: underline;
    color: $color-tertiary;
    justify-content: center;
    margin:10px;
  }
  h2{
    @extend h1;
    padding: 1rem;
    border: rem(1) solid red;

  }
  section {
    display: grid;
    margin: rem(10);
    grid-template-columns: repeat(4, 1fr);
    article {
      &:first-child {
        @include article-card($color-secondary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
      }
      &:nth-child(3) {
        @include article-card($color-secondary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
      }
      &:nth-child(2) {
        @include article-card($color-primary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
        border-left: none;
        border-right: none;
      }
      &:nth-child(4) {
        @include article-card($color-primary, $color-tertiary, $size-font);
        border: rem(1) solid $color-tertiary;
        border-left: none;
      }
    }
    &:nth-child(4){
      display:flex;
      justify-content: space-between;
      @for $index from 1 through 3{
         .fs-#{$index}rem{
          font-size: #{$index}rem;
         }      
      }
      
    }
    &:last-child {
      border: rem(1) solid $color-secondary;
      margin: rem(10);
      padding: rem(10);
      display: flex;
      
      article {
        font-size: rem(24);
        border: none;
        text-align: center;
      }
    }
  }
}
