.fs-1rem {
  height: 2.8125rem;
  width: 2.8125rem;
}

.fs-2rem {
  height: 2.8125rem;
  width: 2.8125rem;
}

.fs-3rem {
  height: 2.8125rem;
  width: 2.8125rem;
}

body {
  width: 100vw;
}

div {
  border: 0.0625rem solid #e60000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div h1, div h2 {
  display: flex;
  text-decoration: underline;
  color: #006700;
  justify-content: center;
  margin: 0.625rem;
}
div h2 {
  padding: 1rem;
  border: 0.0625rem solid #e60000;
  text-decoration: none;
  width: 50%;
}
div section {
  display: grid;
  margin: 0.625rem;
  grid-template-columns: repeat(4, 1fr);
}
div section:nth-child(4) {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
div section:nth-child(4) .fs-1rem {
  font-size: 1rem;
}
div section:nth-child(4) .fs-2rem {
  font-size: 2rem;
}
div section:nth-child(4) .fs-3rem {
  font-size: 3rem;
}
div section:nth-child(4) div:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
div section:nth-child(4) div:nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
div section:nth-child(4) div:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}
div section:nth-child(4) div:nth-child(4) {
  background-color: #cccccc;
  color: #333333;
}
div section:nth-child(4) div:nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
}
div section:nth-child(4) div:nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
div section:nth-child(4) div:nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
}
div section:nth-child(4) div:nth-child(8) {
  background-color: #999999;
  color: #666666;
}
div section:nth-child(4) div:nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
}
div section:nth-child(4) div:nth-child(10) {
  background-color: gray;
  color: gray;
}
div section:nth-child(4) div:nth-child(10) {
  background-color: #0000e6;
  color: #e60000;
}
div section:nth-child(4) div:nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
}
div section:nth-child(4) div:nth-child(12) {
  background-color: #666666;
  color: #999999;
}
div section:nth-child(4) div:nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
}
div section:nth-child(4) div:nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
div section:nth-child(4) div:nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
}
div section:nth-child(4) div:nth-child(16) {
  background-color: #333333;
  color: #cccccc;
}
div section:nth-child(4) div:nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
}
div section:nth-child(4) div:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
div section:nth-child(4) div:nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
div section:nth-child(4) div:nth-child(20) {
  background-color: black;
  color: white;
}
div section article:first-child {
  color: #0000e6;
  border-color: #006700;
  font-size: 1rem;
  text-align: center;
  padding: 0.3125rem;
  border: 0.0625rem solid #006700;
}
div section article:nth-child(3) {
  color: #0000e6;
  border-color: #006700;
  font-size: 1rem;
  text-align: center;
  padding: 0.3125rem;
  border: 0.0625rem solid #006700;
}
div section article:nth-child(2) {
  color: #e60000;
  border-color: #006700;
  font-size: 1rem;
  text-align: center;
  padding: 0.3125rem;
  border: 0.0625rem solid #006700;
  border-left: none;
  border-right: none;
}
div section article:nth-child(4) {
  color: #e60000;
  border-color: #006700;
  font-size: 1rem;
  text-align: center;
  padding: 0.3125rem;
  border: 0.0625rem solid #006700;
  border-left: none;
}
div section:last-child {
  border: 0.0625rem solid #0000e6;
  margin: 0.625rem;
  padding: 0.625rem;
  display: flex;
}
div section:last-child article {
  font-size: 1.5rem;
  border: none;
  text-align: center;
}/*# sourceMappingURL=style.css.map */