html {
  background-color: grey;
  height: 1000px;
  
}
ul {
  top: 0;
  left: 0;
}
li {
  position: relative;
  top: -5px;
  display: inline;
  margin: 10px;
}
button {
  position: relative;
  top: -5px;
}
input {
  position: relative;
  top: -55px;
  right: 10px;
  height: 30px;
  border-radius: 5px;
}
.dis {
  color: yellow;
  background: none;
  border: none;
  position: relative;
  left: -35px;
  color: rgb(128, 126, 126);
}
.search {
  background: none;
  border: 2px solid green;
  color: green;
  border-radius: 5px;
  height: 35px;
  top: -55px;
  right: 10px;
}
.search:hover{
  background-color: green;
  color:white;
}
li:first-child {
  font-size: 25px;
  position: relative;
  left: -40px;
}
li:nth-child(2) {
  position: relative;
  left: -40px;
}
li:nth-child(3) a {
  position: relative;
  left: -40px;
  color: rgb(171, 169, 169);
}
li:nth-child(4) {
  position: relative;
  left: -45px;
}

select {
  border: none;
  background: none;
  color: rgb(171, 169, 169);
}
a {
  text-decoration: none;
  color: white;
}
div {
  position: relative;
  display: inline;
  float: right;
}
nav{
  position: sticky;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: block;
  background-color: black;
  margin: 0;
  width: 100%;
  height: 50px;
  display: inline;
  border-bottom: 2px solid white;
}




@media screen and (max-width: 650px){
  #hidden{
    visibility: hidden;
  }
  .hamburger:hover{
    background-color: grey;
    transition: all 0.3s;
    border-radius: 10px;
  }
 .hamburger{
  content: "";
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 5px;
 }
 .hamburger__icon1{
   width: 80%;
   height: 2px;
   border-radius: 2px;
   background-color: rgb(255, 255, 255);
   position: relative;
   top: 18px;
   right: 4px;
 }
 .hamburger__icon3{
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 6px;
  right: 4px;
}
.hamburger__icon2{
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 25px;
  right: 4px;
}
}
