html {
  background-color: grey;
  height: 1000px;
  
}
ul {
  top: 0;
  left: 0;
}
li {
  position: relative;
  top: -5px;
  display: inline;
  margin: 10px;
}
button {
  position: relative;
  top: -5px;
}
input {
  position: relative;
  top: -55px;
  right: 10px;
  height: 30px;
  border-radius: 5px;
}
.dis {
  color: yellow;
  background: none;
  border: none;
  position: relative;
  left: -40px;
  color: rgb(128, 126, 126);
}
.search {
  background: none;
  border: 2px solid green;
  color: green;
  border-radius: 5px;
  height: 35px;
  top: -55px;
  right: 10px;
}
.search:hover{
  background-color: green;
  color:white;
}
li:first-child {
  font-size: 25px;
  position: relative;
  left: -40px;
}
li:nth-child(2) {
  position: relative;
  left: -40px;
}
li:nth-child(3) a {
  position: relative;
  left: -40px;
  color: rgb(171, 169, 169);
}
li:nth-child(4) {
  position: relative;
  left: -40px;
}

select {
  border: none;
  background: none;
  color: rgb(171, 169, 169);
}
a {
  text-decoration: none;
  color: white;
}
div {
  position: relative;
  display: inline;
  float: right;
}
nav{
  position: sticky;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: block;
  background-color: black;
  margin: 0;
  width: 100%;
  height: 50px;
  display: inline;
  border-bottom: 2px solid white;
}