$color-primary: red;
$color-secondary:blue;
$color-tertiary: green;

.exercise {
border: 1px solid $color-primary;

    .exercise-title {
        color: $color-tertiary;
    }
}
div{
    border:1px solid $color-primary;
    h1{
        display: flex;
        justify-content: center;
        margin: 10px;
        color: $color-tertiary;
        text-decoration: underline;

    }
    section{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        article {
            &:nth-child(odd){
                color: $color-secondary;
            }
            &:nth-child(even){
                color: $color-primary;
            }
            &:first-child{
                border: 1px solid $color-primary;
                margin: 10px 0 10px 10px;
                padding: 5px;
            }
            &:last-child{
                border: 1px solid $color-primary;
                margin: 10px 10px 10px 0;
                padding: 5px;
            }
            &:nth-child(2){
                border: 1px solid $color-primary;
                border-left: none;
                margin: 10px 0 10px 0px;
                padding: 5px;
            }
            &:nth-child(3){
                border: 1px solid $color-primary;
                border-left: none;
                border-right: none;
                margin: 10px 0 10px 0px;
                padding: 5px;
            }
        }
            
        }
    }
