:root{
    --colore1: #011212;
    --colore2: #ff8800;
    --larg: 100px;
    --alt: 100px;
    --border_radius:50px;
}
body {
    background-color: var(--colore1);
}

.ball {
    width: var(--larg);
    height: var(--alt);
    background-color: var(--colore2);
    border-radius: var(--border_radius);
}
