<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <aside id="sidebar">
        <div class="logo">

        </div>
    </aside>
    <main id="main">
        <nav>
           <div class="logo" id="logo-mobile"></div>
           <button>DH</button>
        </nav>
        <article>
            <input type="text" placeholder="Cerca...">
        </article>
    </main>
</body>
</html>